
<table style="width:50%" align="left">
    <tr>
    <th>index</th> 
      <th>stan</th>   
    </tr>
    <tr *ngFor="let article of articles">
     <td>{{article.index}}</td>
      <td>{{article.avaliableStock}}</td>
      <td><button (click) = "addToReceipt(article)" type="button" class="btn btn-primary">Dodaj</button></td>
    </tr>
</table>

<table style="width:50%" align="left">
    <tr>
    <th>index</th> 
      <th>ilość</th>   
    </tr>
    <tr *ngFor="let position of positions">
     <td>{{position.index}}</td>
      <td>1</td>
   </tr>
    <td><button (click) = "sendOrder()" type="button" class="btn btn-primary">Dodaj</button></td>
</table>


